.user-avatar-wrapper {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
}

.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-initial {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--bs-primary);
}

.card-header {
    background: linear-gradient(45deg, #4e73df, #224abe);
}

.rounded-4 {
    border-radius: 1rem !important;
}

.text-decoration-underline-hover:hover {
    text-decoration: underline;
}