<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="card shadow-sm border-0" style="max-width: 400px; width: 100%;">
        <div class="card-body p-4">
            <i class="bi bi-shield-lock-fill me-3 fs-3 text-primary"></i>
            <h2 class="text-center mb-4 fw-bold"> Admin Pro</h2>
            <h3 class="text-center mb-4 fw-normal">Welcome Back</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label small text-muted fw-bold">EMAIL ADDRESS</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
                </div>

                <div class="mb-4">
                    <label class="form-label small text-muted fw-bold">PASSWORD</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
                </div>

                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100 py-2 fw-bold shadow-sm">
          Sign In
        </button>
            </form>

            <p class="mt-4 text-center small text-muted">
                Don't have an account?
                <a routerLink="/signup" class="text-decoration-none fw-bold">Sign Up</a>
            </p>
        </div>
    </div>
</div>